.sub-nav-container{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2px;
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
color: rgba(125, 127, 131, 0.7);
}
.image-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(125, 127, 131, 0.7);
    gap: 2px;
    padding-right: 5px;
}
.image-text-container img{
    max-width: 100%;
}
.name-field{
    padding-left: 3px;
}
@media screen and (max-width: 320px){
    .sub-nav-container{
        font-size: 8px;
    }
}
